<script>
    import { browser } from "$app/environment";
    import { goto } from "$app/navigation";
    import { getUser, signIn } from "$lib/services";
    import Error from "$lib/Error.svelte";

    const user = getUser();

    // redirect if already logged in
    // if (browser && user) {
    //     goto("/");
    // }

    let signInPromise = Promise.resolve()

    let email = 'umutakin@fastmail.com'

    function handleSignIn() {
        signInPromise = signIn()
    }
</script>

<form class="form-control" on:submit|preventDefault={handleSignIn}>
    <label for="email" class="label">
        <span class="label-text text-4xl">Login to Qwitter</span>
    </label>
    <div class="relative">
        <input bind:value={email} id="email" type="email" placeholder="Email" required class="w-full pr-16 input input-primary input-bordered">
        <button class="absolute top-0 right-0 rounded-l-none btn btn-primary">Get Magic Lin</button>
    </div>
</form>